/**
 * Button
 *
 * The first line is the section title, everything else is the description. You can also specify the section name
 * using the `@section` tag below. e.g. `@section Button`.
 *
 * [Check out the LivingCSS documentation](https://github.com/straker/livingcss)
 *
 * #### This is an `<h4>` heading
 *
 * We can make description as many lines as we want. And use **whatever** *markdown* we want.
 *
 * [Link to Github's markdown guide](https://guides.github.com/features/mastering-markdown/)
 *
 * @example
 * <p>
 *   <button type="button" class="btn btn-primary">Primary</button>
 *   <button type="button" class="btn btn-success">Success</button>
 *   <button type="button" class="btn btn-info">Info</button>
 *   <button type="button" class="btn btn-warning">Warning</button>
 *   <button type="button" class="btn btn-danger">Danger</button>
 *   <button type="button" class="btn btn-default">Default</button>
 *   <button type="button" class="btn btn-link">Link</button>
 * </p>
 * <p>
 *   <button type="button" class="btn btn-outline btn-primary">Primary</button>
 *   <button type="button" class="btn btn-outline btn-success">Success</button>
 *   <button type="button" class="btn btn-outline btn-info">Info</button>
 *   <button type="button" class="btn btn-outline btn-warning">Warning</button>
 *   <button type="button" class="btn btn-outline btn-danger">Danger</button>
 * </p>
 *
 * @section
 * @page Atoms
 */
.btn.btn-outline {
  background-color: transparent; }
  .btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline:active {
    outline: 0; }

.btn-primary.btn-outline {
  color: #337ab7; }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background-color: rgba(51, 122, 183, 0.05);
    color: #337ab7; }

.btn-success.btn-outline {
  color: #5cb85c; }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background-color: rgba(92, 184, 92, 0.05);
    color: #5cb85c; }

.btn-info.btn-outline {
  color: #5bc0de; }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background-color: rgba(91, 192, 222, 0.05);
    color: #5bc0de; }

.btn-warning.btn-outline {
  color: #f0ad4e; }
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background-color: rgba(240, 173, 78, 0.05);
    color: #f0ad4e; }

.btn-danger.btn-outline {
  color: #d9534f; }
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background-color: rgba(217, 83, 79, 0.05);
    color: #d9534f; }

/*
 * Layout
 *
 * This is the layout section.
 *
 * @section Layout
 * @page Atoms
 */
/*
 * Containers
 *
 * Here is a container.
 *
 * @example
 * <div class="container"></div>
 *
 * @section Containers
 * @sectionof Layout
 */

/**
 * Typography
 *
 * ##### **Notes**
 *
 * Site fonts against a light-colored background are typically rendered in a dark gray, #333. Link colors are typically
 * blue and underlined.
 *
 * Site fonts against a dark-colored background are typically rendered in white. Link colors are typically white and
 * Bright Blue on hover.
 *
 * Headings or sub-headings are rendered in black.
 *
 * @section
 * @page Atoms
 */
/**
 * Fonts
 *
 * [Cinzel](https://fonts.google.com/specimen/Cinzel) is used for our "Encyclopaedia Britannica" logotype.
 *
 * [Montserrat](https://fonts.google.com/specimen/Montserrat) is the default, used everywhere else.
 *
 * @example
 * <h1 class="md-logotype">Aa</h1>
 * <h1>Aa</h1>
 *
 * @section
 * @sectionof Typography
 */
body {
  font-family: "Montserrat", sans-serif; }

.md-logotype {
  font-family: "Cinzel"; }

/**
 * Headings
 *
 * All HTML headings, `<h1>` through `<h6>`, are available.
 *
 * `.md-heading-1` through `.md-heading-6` classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.
 *
 * @example
 * <h1>.md-heading-1</h1>
 * <h2>.md-heading-2</h2>
 * <h3>.md-heading-3</h3>
 * <h4>.md-heading-4</h4>
 * <h5>.md-heading-5</h5>
 * <h6>.md-heading-6</h6>
 *
 * @section
 * @sectionof Typography
 */
h1, h2, h3, h4, h5, h6,
.md-heading-1, .md-heading-2, .md-heading-3, .md-heading-4, .md-heading-5, .md-heading-6 {
  font-weight: 400;
  margin: 0; }

h1, .md-heading-1 {
  font-size: 46px; }

h2, .md-heading-2 {
  font-size: 40px; }

h3, .md-heading-3 {
  font-size: 32px; }

h4, .md-heading-4 {
  font-size: 26px; }

h5, .md-heading-5 {
  font-size: 22px; }

h6, .md-heading-6 {
  font-size: 18px; }

/**
 * Description of the fancy molecule
 *
 * @example
 * <div class="eb-molecule">
 *   <button class="btn btn-primary">Button</button>
 * </div>
 *
 * @section Fancy Molecule
 * @page Molecules
 */
.eb-molecule {
  border: 1px dotted blue;
  border-radius: 3px;
  padding: 15px; }
